/*Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@400;700&family=Oswald:wght@400;600&family=Roboto:wght@700&display=swap');
/*
  font-family: 'Open Sans', sans-serif;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Roboto', sans-serif; */

/* Units

Padding and Margins: em = px/16
Fonts: em = px/16
Layouts such as boxes and container = %
For fixed size: px
Height and width: e.g. 100vh

*/

/* Common Styling */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #333333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
}
.nav-bar-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: #ff4500;
  font-size: 3em;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}
h2 {
  font-family: 'Oswald', sans-serif;
  color: #ff4500;
  font-size: 2.5em;
  margin-left: 5%;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
}
.home-link {
  width: 100%;
  display: flex;
  text-decoration: none;
  margin-left: 50px;
}
.logo-icon {
  width: 80px;
  height: 80px;
  margin: 0;
  vertical-align: middle;
  margin-top: 20px;
  margin-right: 20px;
}
.button-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-items: center;
  padding: 20px;
}
.messages {
  text-align: center;
}
button {
  background: #ff4500;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  width: 6em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 20px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}
/* Hover Effect */
button:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
  color: #ff4500;
  cursor: pointer;
}

/* Footer Container */
footer {
  text-align: center;
}
/* Footer Text */
footer p {
  font-family: 'Oswald', sans-serif;
  color: #ff4500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2.25em;
}

/* Index Page */
.homeNewRecordBtn {
  height: auto;
  padding: 0.4em;
  width: auto;
}

/* Filter Section */
.filter-container {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.filter-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  margin: 1rem 10%;
}
.filterInput {
  height: 2.5em;
  width: 500px;
  padding: 1rem;
  background-color: #434343;
  border-radius: 10px;
  border: 2px solid #ff4500;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  font-size: 18px;
  margin-right: 1em;
  margin-left: 1em;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
  outline: none;
  margin: 1rem;
}
.filterInput::placeholder {
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  font-size: 24px;
}
.filterInput:focus {
  content: '';
  background-color: #ff4500;
  border: 1px solid black;
  border-radius: 10px;
}
.filter-icon {
  width: 70px;
  height: 70px;
  vertical-align: middle;
}
.search-buttons {
  color: #ff4500;
  background: #434343;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  width: 5em;
  padding: 10px;
  margin: 0 10px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  outline: none;
}
.filter-form a {
  padding-top: 25px;
}
.search-buttons:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
  cursor: pointer;
}
.row-count-container {
  width: 100%;
  padding: 1rem;
  color: #ffffff;
  text-align: center;
}
/* Table Section Container*/
.table-section {
  padding: 5px;
  min-height: 40em;
}
/* Styling the table */
table {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-collapse: collapse;
  height: auto;
  width: 100%;
  background-color: #c4c4c4;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
/* Table Heading */
th {
  background-color: #434343;
  color: #ffffff;
  font-weight: bold;
}
th a {
  background-color: #434343;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
/* Table rows*/
td,
th {
  text-align: left;
  padding: 12px 15px;
}
.edit-icon,
.delete-icon {
  width: 35px;
  height: 35px;
}
.filter-icon,
th:hover {
  cursor: pointer;
}
/* Change every other row*/
tr:nth-child(even) {
  background-color: #dcdcdc;
  color: #434343;
}

tr:active {
  font-weight: bold;
  color: #ff4500;
}

/*  Edit Modal */
.recordEditModal {
  display: none;
  position: absolute;
  overflow: auto;
  width: 80%;
  margin: 0 10%;
  left: 0;
  top: 0;
  border-radius: 15px;
  background-color: rgb(51, 51, 51);
}
/* Syles For Edit Modal Form Row */
.edit-form-row {
  width: 100%;
}
.model-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.edit-modal-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  margin: 1rem 20%;
}
.edit-modal-button {
  background: #ff4500;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  width: 6em;
  margin-top: 1em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
}

/* Button Hover*/
.edit-modal-button:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
  color: #ff4500;
  cursor: pointer;
}

.edit-modal-label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6em;
  color: #ff4500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.edit-modal-input {
  text-align: center;
  height: 2.5em;
  width: 40%;
  background-color: #434343;
  border-radius: 10px;
  border: 2px solid #ff4500;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  font-size: 1.5em;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
  margin: 20px 30%;
  outline: none;
}
input::placeholder {
  font-family: 'Oswald', sans-serif;
  color: #c4c4c4;
  font-size: 1.2em;
}
input:focus {
  border: 1px solid black;
  border-radius: 10px;
}

/* New Record Modal */
.newRecordModal {
  display: none;
  position: absolute;
  overflow: auto;
  width: 100%;
  margin: 0;
  left: 0;
  top: 0;
  border-radius: 15px;
  background-color: rgb(51, 51, 51);
}
.new-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: rgb(51, 51, 51);
}
.model-content-new {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-record-model-row {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 70%;
  margin: 10px 15%;
  padding: 10px;
}
.new-record-model-row-select {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 70%;
  margin: 0 15%;
  padding: 10px;
}
.new-record-modal-label {
  font-family: 'Roboto', sans-serif;
  width: 50%;
  margin: 0 25%;
  font-size: 22px;
  color: #ff4500;
  margin-bottom: 10px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.checkbox-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: center;
  margin: 10px 15%;
}

/*  Checkbox */
.discogsCheckbox {
  width: 50px;
  height: 50px;
  /*  -webkit-appearance: none;
  transition: 0.5s;
  padding-left: 5px;
  cursor: pointer;*/
}
.discogsCheckbox:hover {
  cursor: pointer;
}
.recordInput {
  height: 2.5em;
  padding: 1rem;
  width: 50%;
  margin: 0 25%;
  background-color: #434343;
  border-radius: 10px;
  border: 2px solid #ff4500;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  font-size: 20px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
  outline: none;
}

.recordInput:focus {
  border: 1px solid black;
  border-radius: 10px;
}

.onDiscogsInputLbl {
  font-family: 'Oswald', sans-serif;
  color: #ff4500;
  font-size: 22px;
  margin: 0;
}

/*  Input List    */
select {
  height: 2.5em;
  width: 50%;
  margin: 0 25%;
  background-color: #434343;
  border-radius: 10px;
  border: 2px solid #ff4500;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  font-size: 22px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
  outline: none;
}
option {
  outline: none;
  background-color: #ff4500;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 10px 15%;
  padding: 10px;
}
button {
  outline: none;
}
.buttons {
  background: #ff4500;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  width: 6em;
  margin-top: 1em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}

/* Button Hover*/
.buttons:hover {
  background: #434343;
  /* letter-spacing: 1px; */
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
  color: #ff4500;
  cursor: pointer;
}
.total-records-number {
  color: #ffffff;
}

/* Delete Modal */
.delete-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.delete-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 50%;
  margin: 10% 25%;
  padding: 1rem;
  border-radius: 20px;
  background-color: rgb(51, 51, 51);
}
.delete-modal-heading {
  text-align: center;
  width: 100%;
}
.delete-modal-heading h3 {
  font-family: 'Oswald', sans-serif;
  color: #ff4500;
  font-size: 2em;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}
.delete-button-container {
  width: 70%;
  margin: 0 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* Scroll To Top */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #ff4500; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* Media Queries
   Mobile portait (320px to 414px) — For devices with 4" to 6.9" screens.
   Mobile landscape (568px to 812px) — Same, but landscape.
   Tablet portait (768px to 834px) — For devices 7" to 10"
   Tablet landscape (1024px to 1112px) — Ditto, but also 12" tablets on portrait
   Laptop & desktop displays (1200px+) — Varies a lot, but is usually 1200px and above
*/

/*1920+ Bigger Screens*/

/* 1024px to 1112px */

/* 768px to 834px */

/* 568px to 812px */

/* 320px to 414px */
